name: Mirror to Bitbucket
on:
  push:
  delete:
  workflow_dispatch:
jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Mirror to Bitbucket
      run: |
        git remote add bitbucket "https://x-token-auth:${{ secrets.BB_TOKEN }}@bitbucket.org/thapasachin572/test-bitbucket-repo.git"
        git push bitbucket --all
        git push bitbucket --tags
