name: Mirror to Bitbucket
on:
  push:
  delete:
  workflow_dispatch:
jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: sgtoj/git-mirror-action@v1
      with:
        source-repo: "git@github.com/sachinthapa119/test-bitbucket-repo.git"
        destination-repo: "https://x-token-auth:${{ secrets.BB_TOKEN }}@bitbucket.org/thapasachin572/test-bitbucket-repo.git"
